<div id="content_inside" class="report-generate">

  <div class=row>
    <div class="col-xs-10 col-md-11">
      <h1>{{ report.title }}</h1>
    </div>
    <div class="main-action col-xs-2 col-md-1">
      <h1 class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="changeRoute('#/edit/'+report.id)"></i></h1>
    </div>
  </div>

  <div class="row">

  <div class="{{ subreport.ui_size }} report-generate-card" ng-repeat="subreport in report.subreports">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ subreport.title }}</h4>
        <div ng-show="subreport.is_table" ng-bind-html="report_html" class="ng-binding"></div>
        <canvas ng-show="subreport.is_graph" id="subreport_{{ subreport.position }}" width="400" height="250"></canvas>
        <div ng-show="subreport.is_message" ng-bind-html="subreport.message" class="ng-binding"></div>
      </div>
    </div>
  </div>

</div>