<div id="content_inside" class="report-generate">

  <div class="row">
    <div class="col-xs-10 col-md-11">
      <h1>{{ report.title }}</h1>
    </div>
    <div class="main-action col-xs-2 col-md-1">
      <h1 class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="changeRoute('#/edit/'+report.id)"></i></h1>
    </div>
  </div>

  <!-- Variables -->
  <div class="card" ng-show="variableIsDisplayed()">
    <div class="card-block">
      <div ng-repeat="variable in report.variables track by $index">
        <div class="row variable">
          <div class="col-xs-3"><label>{{ variable.label }}</label></div>
          <div class="col-xs-3"><input type="text" class="form-control" ng-model="variable.value"></div>
        </div>
      </div>
      <button class="btn" ng-click="reportRun()">Re-Run Report</button>
    </div>
  </div>

  <!-- Sub-Reports -->
  <div class="col-xs-12 col-md-{{ subreport.width }} report-generate-card" ng-repeat="subreport in report.subreports track by $index">
    <h3 ng-show="subreport.is_title" class="card-title">{{ subreport.title }}</h4>
    <div ng-show="!subreport.is_title" class="card">
      <div class="card-block">
        <h4 ng-show="!subreport.is_title" class="card-title">{{ subreport.title }}</h4>
        <div ng-show="subreport.is_table" ng-bind-html="report_html[$index]" class="ng-binding"></div>
        <canvas ng-show="subreport.is_graph" id="subreport_{{ subreport.position }}" width="400" height="250"></canvas>
        <div ng-show="subreport.is_message" ng-bind-html="subreport.message" class="ng-binding"></div>
      </div>
    </div>
  </div>

</div>
